* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
    height: 44px;
    align-items: center;
}

#logo {
    position: fixed;
    height: 30px;
    left: 25px;
    top: 30px;
}

#search-image {
    height: 20px;
    position: relative;
    right: 40px;
    top: 5px;
}

#search-form {
    margin-left: 165px;
}

#search-text {
    width: 625px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #d0e3ea;
    padding-left: 20px;
    font-size: 16px;
}

#search-text:hover {
    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

#search-text:focus {
    outline: 0;

    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

.navbar {
    position: absolute;
    right: 20px;
    list-style-type: none;

    display: flex;
    width: 75px;
    justify-content: space-between;
}

.nav-image {
    width: 25px;
}

nav {
    width: 100%;
    height: 60px;
    border-bottom: #ebebeb 1px solid;
}

.nav-options {
    display: flex;
    width: 650px;

    padding-left: 165px;
    padding-top: 30px;
    justify-content: space-between;
    height: 27px;



}

.nav-options ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    
}

.search-options li {
    font-size: 14px;
    width: fit-content;
    padding: 0 10px;
    height: 100%;

}

.nav-options ul li a {
    text-decoration: none;
    color: #5f6368;
}

.search-options li a {
    width: 110%;
    display: flex;
}

.search-options li a p {
    padding-left: 5px;
    font-size: 12px;
    padding-top: 2px;
}

.search-options li img {
    width: 17px;
    vertical-align: middle;

}

.selected-option {
    border-bottom: 3px #1A73E8 solid;
}

.selected-option a p {
    color: #1A73E8;
}

.search-settings  {
    width: 100px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

.search-settings li {
    font-size: 13px;
}

main {
    margin-left: 175px;
    margin-top: 15px;
    width: 650px;
}

.search-result {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
}

.num-results {
    color: #70757a;
    font-size: 15px;

}

.url-slug {
    display: flex;
}

.url-slug a {
    text-decoration: none;
    color: #3C4043;
    font-size: 14px;
}

.url-slug img {
    width: 13px;
    height: 13px;
    padding-left: 3px;
}

.page-title {
    text-decoration: none;
    padding-top: 7px;
    font-size: 20px;
}

.page-title:hover {
    text-decoration: underline;
}

.description {
    font-size: 14px;
    line-height: 20px;
    padding-top: 6px;
    color: #3C4043;
}

.pub-date {
    color: #70757a;
}