* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
    height: 44px;
    align-items: center;
}

#logo {
    height: 30px;
    margin-left: 25px;
}

#search-image {
    height: 20px;
    position: relative;
    right: 40px;
    top: 5px;
}

#search-form {
    margin-left: 50px;
}

#search-text {
    width: 550px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #d0e3ea;
    padding-left: 20px;
    font-size: 16px;
}

#search-text:hover {
    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

#search-text:focus {
    outline: 0;

    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

.navbar {
    position: absolute;
    right: 20px;
    list-style-type: none;

    display: flex;
    width: 75px;
    justify-content: space-between;
}

.nav-image {
    width: 25px;
}