* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
    height: 44px;
    align-items: center;
}

#logo {
    height: 30px;
    margin-left: 25px;
}

#search-image {
    height: 20px;
    position: relative;
    right: 40px;
    top: 5px;
}

#search-form {
    margin-left: 50px;
}

#search-text {
    width: 625px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #d0e3ea;
    padding-left: 20px;
    font-size: 16px;
}

#search-text:hover {
    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

#search-text:focus {
    outline: 0;

    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

.navbar {
    position: absolute;
    right: 20px;
    list-style-type: none;

    display: flex;
    width: 75px;
    justify-content: space-between;
}

.nav-image {
    width: 25px;
}

nav {
    width: 100%;
    height: 60px;
    border-bottom: lightgray 1px solid;
}

.nav-options {
    display: flex;
    width: 650px;

    padding-left: 170px;
    padding-top: 30px;
    justify-content: space-between;
    height: 27px;



}

.nav-options ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    
}

.search-options li {
    font-size: 14px;
    width: fit-content;
    height: 100%;

}

.nav-options ul li a {
    text-decoration: none;
    color: gray;

    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;

    
}

.nav-options ul li img {
    width: 17px;
    vertical-align: middle;

}

.selected-option {
    border-bottom: 3px blue solid;
}

.selected-option a {
    color: blue;
}